[submodule "KamiToolKit"]
	path = KamiToolKit
	url = http://github.com/MidoriKami/KamiToolKit
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = http://github.com/aers/FFXIVClientStructs
